<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>  
  <head>    
    <title></title>
    <style type="text/css">
    html,body{ font-family: sans-serif; padding: 20px; }
    </style>
  </head>
  <body>    
    <div style="max-width: 600px">      
      <p>        
        <small>
          Can't read this email correctly? {% web_view 'Open in your browser' %}
        </small>
      </p>
      <p>        <br/>
      </p>
      <h2>        <b>Hi {{ first_name|default:'there' }}, here is your personalized skincare routine!</b>
      </h2>
      <p>
        Applying your skin care products in the proper order ensures that your skin receives the full benefits of each product. An easy rule of thumb to follow is to
        <b>apply your products with the thinnest consistency to thickest</b>, or from liquid to oil.
      </p>
      <p>
        Enter this coupon code at checkout to get a 10% discount:
        <b>QUIZ123</b>
      </p>
      <p>        <br/>
      </p>
            <p>Here are the different steps for your routine</p>
            {% if person|lookup:'SLOT-PMHJv82: Dia - product_0_url' %}  
            <p><b>Dia</b> Produto de limpeza 
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - product_0_url' %}
              <p><b>Dia</b> Tónico
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - product_0_url' %}
              <p><b>Dia</b> Essência
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - product_0_url' %}
              <p><b>Dia</b> Sérum
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - product_0_url' %}
              <p><b>Dia</b> Produto para contorno de olhos
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - product_0_url' %}
              <p><b>Dia</b> Hidratante de dia
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - product_0_url' %}
              <p><b>Dia</b> Protetor solar
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - product_0_url' %}
              <p><b>Noite</b> Desmaquilhante
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - product_0_url' %}
              <p><b>Noite</b> Produto de limpeza
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - product_0_url' %}
              <p><b>Noite</b> Tónico
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - product_0_url' %}
              <p><b>Noite</b> Essência
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - product_0_url' %}
              <p><b>Noite</b> Sérum
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - product_0_url' %}
              <p><b>Noite</b> Produto para contorno de olhos
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - product_0_url' %}
              <p><b>Noite</b> Hidratante
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_url' %}
              <p><b>Uso Pontual</b> Esfoliante
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_url' %}
              <p><b>Uso Pontual</b> Máscara
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
            {% if person|lookup:'SLOT-PMHJv82: Dia/Noite - Produto de Limpeza - product_0_url' %}  
            <p>Here are the different steps for your routine</p>
            <p><b>Dia/Noite - Produto de Limpeza</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia/Noite - Produto de Limpeza - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia/Noite - Produto de Limpeza - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia/Noite - Produto de Limpeza - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia/Noite - Produto de Limpeza - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - Produto de Limpeza - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Produto de Limpeza</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Produto de Limpeza - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Produto de Limpeza - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Produto de Limpeza - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Produto de Limpeza - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
            {% if person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Tónico</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
            {% if person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Tónico</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Tónico - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - Essência - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Essência</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Essência - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Essência - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Essência - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Essência - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - Sérum - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Sérum</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Sérum - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Sérum - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Sérum - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Sérum - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - Produto para contorno de olhos - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Produto para contorno de olhos</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Produto para contorno de olhos - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Produto para contorno de olhos - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Produto para contorno de olhos - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Produto para contorno de olhos - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
            {% if person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Hidratante</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
            {% if person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Hidratante</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Hidratante - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Dia - Protetor Solar - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Dia - Protetor Solar</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Dia - Protetor Solar - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Dia - Protetor Solar - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Dia - Protetor Solar - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Dia - Protetor Solar - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - Desmaquilhante - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Desmaquilhante</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Desmaquilhante - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Desmaquilhante - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Desmaquilhante - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Desmaquilhante - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - Produto de Limpeza - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Produto de Limpeza</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Produto de Limpeza - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Produto de Limpeza - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Produto de Limpeza - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Produto de Limpeza - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
            {% if person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Tónico</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
            {% if person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Tónico</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Tónico - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - Essência - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Essência</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Essência - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Essência - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Essência - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Essência - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - Sérum - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Sérum</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Sérum - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Sérum - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Sérum - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Sérum - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - Produto para contorno de olhos - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Produto para contorno de olhos</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Produto para contorno de olhos - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Produto para contorno de olhos - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Produto para contorno de olhos - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Produto para contorno de olhos - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - Hidratante - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Hidratante</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Hidratante - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Hidratante - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Hidratante - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Hidratante - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Noite - Hidratante de Noite - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Noite - Hidratante de Noite</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Noite - Hidratante de Noite - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Noite - Hidratante de Noite - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Noite - Hidratante de Noite - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Noite - Hidratante de Noite - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Uso Pontual - Esfoliante - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Uso Pontual - Esfoliante</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - Esfoliante - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - Esfoliante - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - Esfoliante - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - Esfoliante - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
              {% if person|lookup:'SLOT-PMHJv82: Uso Pontual - Máscara - product_0_url' %}
              <p>Here are the different steps for your routine</p>
              <p><b>Uso Pontual - Máscara</b> slot description
              </p>
              <table style="width:100%; border: 1px solid #333; padding: 5px; margin-bottom: 25px;">        
                  
                  <tr>          
                    <td style="width: 80px;">            
                      <img alt="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - Máscara - product_0_name' }}" height="70" src="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - Máscara - product_0_image_url' }}" style="width: 70px; height: 70px;" width="70"/>
                    </td>
                    <td>            
                      <p style="margin-top: 0; margin-bottom: 10px;">              <b>{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - Máscara - product_0_name' }}</b>
                      </p>
                      <p style="margin-top: 0; margin-bottom: 0">              <a href="{{ person|lookup:'SLOT-PMHJv82: Uso Pontual - Máscara - product_0_url' }}?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 5px 10px;display: inline-block;">read more</a>
                      </p>
                    </td>
                  </tr>
                  
              </table>
              {% endif %}
      <p>        <br/>
      </p>
      <h3>
        Need answers to your skincare questions?
      </h3>
      <p>
        Sign up now and book your
        <b>FREE one-on-one skin consultation</b> with a Beauty Advisor. Enjoy a 20 minute consultation Zoom from your home and discover the perfect products and skincare routine for you.
      </p>
      <p>        <b>Bonus:</b> at the end of your consultation, enjoy a
        <b>10% off your order</b> and get a special treat just for you!
      </p>
      <p>        <a href="https://abitat.pt/account/register?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat" style="text-decoration: none !important;color: white !important;background-color: rgb(55,55,55);padding: 15px 45px;display: inline-block;">SIGN UP FREE</a>
      </p>
      <p>
        Already a member?
        <a href="https://abitat.pt/account?utm_source=revenuehunt&amp;utm_medium=email&amp;utm_campaign=Quiz abitat">Log in here</a>
      </p>
      <div>
        --
      </div>
      <div>        
        <p>          
          <small>
            No longer want to receive these emails?
            <a href="{% unsubscribe_link %}" style="color: blue;">Click here</a>.
          </small>
        </p>
      </div>
    </div>
  </body>
</html>
